.header__lang-link {
  color: #FFFFFF;
  margin-right: 13px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.header__lang-link:hover {
  box-shadow: 0 1px 0 0 white;
}

.header__lang-link_status_active {
  box-shadow: 0 1px 0 0 white;
  cursor: default;
}

@media (max-width:425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}

.header__lang-link:last-child {
  margin-right: 0;
  text-decoration: none;
}
