.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

@media screen and (min-width:425px) and (max-width:700px) {
  .footer__copyright {
    font-size: 13px;
    line-height: 15px;
  }
}

@media screen and (min-width:425px) and (max-width:510px) {
  .footer__copyright {
    font-size: 10px;
    line-height: 15px;
  }
}

@media screen and (max-width:425px) {
  .footer__copyright {
    line-height: 14px;
    text-align: left;
  }
}
